.mainCont{
  /* width: 1280px; */
  /* height: 418px; */
  background-image: url(../../../../public/images/ConfettiBG.svg);
  background-size: cover;
  padding: 56px 0px 72px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainText{
  font-size: 40px;
  font-weight: 600;
  color: #25282b;
  /* line-height: 1.75; */
}

.achievementArrange{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}


.achievementBox{
  width: 270px;
  height: 202px;
  /* background-color: red; */
  border-radius: 8px;
  /* box-shadow: 0 4px 32px 0 rgba(255, 102, 0, 0.2); */
  background-color: #fff;
  padding: 22px 0px 22px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.countTextArrange{
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}



.rounBox{
  width: 52px;
  height: 52px;
  border-radius: 52px;
  /* background-color: #fff3eb; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievmentMainText{
  font-size: 36px;
  font-weight: bold;
  /* color: #f60; */

}

.achievmentMainSubText{
  font-size: 24px;
  color: rgba(37, 40, 43, 0.6);
}

.mobileCardMainCont{
  display: none;
}

.mobileCard1{
  width: 158px;
  padding: 12px;
  height: 98px;
 
  box-shadow: 0 0 12px 0 rgba(255, 102, 0, 0.2);
  background-color: #fff;
}

.mblCardInsideText{
  font-size: 12px;
  line-height: 2;
  color: rgba(37, 40, 43, 0.6);
}

.mobileCardImpText{
  font-weight: 600;
  font-size: 12.8px;
  line-height: 1.7;
  color: red;
}


@media (min-width: 320px) and (max-width: 576px){

  .mainCont{
    padding: 24px 16px 24px 16px;
  }

  .mobileCardMainCont{
    display: block;
  }

  .mainText{
    font-size: 24px;
    width: 276px;
    text-align: center;
  }
  /* .achievementArrange{
    display: none;
  } */

  .achievementArrange{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }

  .achievementBox{
    width: 250px;
    height: 130px;
    padding: 20px 0px 24px 0px;
    gap: 15px;
  }

  .achievmentMainText{
    font-size: 26px;
  }
  
  .achievmentMainSubText{
    font-size: 18px;
  }
  
}
