.mainCont{
  /* padding: 20%; */
  padding-top: 84px;
  /* background-color: red; */

  position: relative;
  max-width: 1700px;
  box-sizing: border-box;
  margin: auto;
}

.WebImage{
  position: absolute;
  width: 696px;
  height: 468px;
  bottom: 0;
  right: 79px;
}

.MainTextWidth{
  width: 70%;
}

.subTextWidth{
  width: 600px;
}


.UnderlineStyle{
  position: absolute ;
  width: 228px;
  height: 8px;
 top: 280px;
 left: 358px;
}


.dataMainCont{
  box-sizing: border-box;
  padding: 184px 64px;
  background-color: #fff;
}

.dataMainCont:nth-child(odd){
  background-color: #f7f7f7;
}



.imageDataArrange{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 84px; */
  align-items: center;
}

.imageDataArrange2{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  /* gap: 84px; */
  align-items: center;
}

.dataCont{
  position: relative;
  max-width: 1700px;
  box-sizing: border-box;
  margin: auto;
}


/* comparision Data Cont */
.compMainCont{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: #f7f7f7;
  padding: 56px 162px;
  max-width: 1700px;
  margin: auto;
  box-sizing: border-box;
}

.compHeaderCont{
  width: 100%;
  height: 160px;
  padding: 32px 0px 32px 0px;
  box-sizing: border-box;
  background-color: #9EFFE8;

  display: flex;
  flex-direction: row;
}

.mainTextBox{
  width: 100%;
min-width: 290px;
max-width: 540px;
}

.compCol1{
  /* border: solid 1px red; */
  width: 22.5%;
  box-sizing: border-box;
  height: 100%;
  padding: 0px 24px 0px 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #25282b;
}

.compData1{
  background-color: #fff;
  width: 22.5%;
 padding: 24px 24px 24px 32px;
 box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #25282b;
  font-size: 20px;
  line-height: 1.6;
  color: #25282b;
  font-weight: 600;
}

.compCol2{
  /* border: solid 1px green; */
 flex: 1;
  height: 100%;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #25282b;

  display: flex;
  align-items: center;
}

.compData2{
  background-color: #ffebf0;
   flex: 1;
   padding: 24px 16px 23px 32px;
   font-size: 20px;
   font-weight: normal;
   line-height: 1.6;
   color: #25282b;
 }

.compCol3{
  /* border: solid 1px blueviolet; */
  flex: 1;
  height: 100%;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #25282b;

  display: flex;
  align-items: center;
}

.compDataCont{
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(37, 40, 43, 0.2);
}

.dataArrange{
  display: flex;
  flex-direction: row;
}






.compData3{
  background-color: #fff;
  flex: 1;
  font-size: 24px;
  padding: 24px 16px 23px 32px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  color: #25282b;
}



@media (min-width: 320px) and (max-width: 576px){

  .mainCont{
    padding: 0px 0px 0px 0px;
  }

  .WebImage{
    display: none;
  }

  .MainTextWidth{
    width: 100%;
  }

  .subTextWidth{
    width: 100%;
  }

  .UnderlineStyle{
    width: 145px;
    height: 6px;
    top: 135px;
    left: 223px;
  }

  .MobileImageWidth{
  width: 335px;
  height: 244px;
  }


  .dataMainCont{
    padding: 40px 20px 56px 20px;
  }

  .imageDataArrange{
    flex-direction: column;
    gap: 40px;
  }

  .imageDataArrange2{
    flex-direction: column;
    gap: 40px;
  }

  .compMainCont{
    display: none;
  }
}