 @import url('http://fonts.cdnfonts.com/css/sf-pro-display');

                
body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "San Francisco";
  /* font-weight: 400; */
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}



*{
  font-family: 'SF Pro Display', sans-serif;
}


